
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Columns
@import "column";

// Post
@import "post";

html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.fa {
  padding-right: 9px;
}
