// Footer
@import "heel";

.post {
  margin: 0;
  padding: 0;
  margin-top: 5vh;
  min-height: 95vh;
  display: flex;
}

.content {
  padding: 0 5px;
  font-size: 100%;
  display: flex;
  flex-wrap: wrap;

  .header {
    align-self: flex-start;
    flex: 1;
    width: 100%;

    h1 {
      font-size: 200%;
      padding: 35px 0;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .3rem;
      font-weight: 600;
    }

    h3 {
      letter-spacing: .1rem;
      font-size: 120%;
      font-style: italic;
    }
  }

  .info {
    margin: 25px 0;
    padding: 4px;
    background-color: lighten($brand-info, 20);
    border-radius: 3px;
    align-self: flex-start;
    width: 100%;

    .time, .author {
      font-weight: 400;
      text-align: center;
      line-height: 35px;
    }

    .description {
      text-align: justify;
      text-indent: 15px;
    }
  }

  .tags {
    align-self: flex-start;
    width: 100%;

    .tag {
      color: $brand-primary;
      padding: 10px 25px;
      margin-right: 15px;
      background-color: darken($body-bg, 10);
      cursor: pointer;
      border-left: 1px solid $brand-primary;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      opacity: .75;

      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 2px $dark-blue;
      }
    }
  }

  .body {
    margin: 30px 0;
    align-self: flex-start;
    flex: 1;
    width: 100%;

    p {
      font-family: 'Roboto Slab', serif;
    }

    .comment {
      font-style: italic;
      color: $inactive;
      margin-top: 35px;
    }

    .highlight {
      font-style: italic;
      background-color: lighten($brand-info, 23);
      padding: 0 4px;
    }

    h1 {
      font-size: 125%;
      font-weight: 600;
    }

    h3 {
      font-size: 115%;
    }

    .img {
      width: 100%;
      text-align: center;

      img {
        margin: auto;
        max-width: 90%;
      }
    }

    table {
      border-radius: 5px;
      border: 1px solid lighten($brand-info, 23);
      width: 100%;

      tr:nth-child(odd) {
        background-color: darken($body-bg, 0);
      }

      th {
        padding: 7px 20px;
      }

      tr:nth-child(1) {
        background-color: lighten($brand-info, 23);
      }

      .note {
        font-size: 90%;
        font-style: italic;
        text-align: center;
        padding: 5px 0px;
      }
    }
  }
}
